<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="permission.auron.com.sample">


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="permission.auron.com.sample.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="permission.auron.com.sample.ActivityMultiplePermission"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name="permission.auron.com.sample.checkPermission.ActivityCheckPermission"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name="permission.auron.com.sample.ActivityContainer"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name="permission.auron.com.sample.ActivityAnnotation"
            android:configChanges="screenSize|orientation" />
    </application>

</manifest>
